.block {
	background-color: #0b2748;
	width: 285px;
	height: 180px;
	color: white;
	border-radius: 40px;
	overflow: hidden;
}

.titre_block {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	padding: 15px 15px 5px 15px;
	font-size: 12px;
	line-height: 15px;
	font-weight: 100;
}

.icon {
	margin-right: 10px;
}

.valeur {
	font-size: 20px;
}
