.block2 {
	background-color: #0b2748;
	width: 285px;
	height: 180px;
	color: white;
	border-radius: 40px;
	overflow: hidden;
	display: block;
	text-align: start;
}

.notetitre {
	border-bottom: 1px solid white;
	width: 120%;
	padding: 15px 25px;
}

.notes {
	padding: 15px 35px;
}

.index4 {
	list-style: url("../../images/Dotred.svg");
	color: var(--color-red);
}

.index3 {
	list-style: url("../../images/Dotorange.svg");
}
