.block2 {
	background-color: #0b2748;
	width: 285px;
	height: 180px;
	color: white;
	border-radius: 40px;
	overflow: hidden;
}

.titre2 {
	display: block;
	text-align: start;
}

.notetitre {
	border-bottom: 1px solid white;
	width: 120%;
	padding: 15px;
}

.notes ul {
	padding: 15px;
	padding-left: 25px;
}

ul {
}
