.block {
	background-color: #0B2748;
	width: 285px;
	height: 170px;
	color: white;
	padding: 15px;
    border-radius: 40px;
}

.titre {
	display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.icon {
}
