.wind {
	display: flex;
}

.logo_wind {
	height: 64px;
	width: 64px;
	margin: 5px;
}

.info_wind {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin-left: 10px;
}

.info_wind p {
	color: var(--color-green);
}
