.block {
	background-color: #0b2748;
	width: 285px;
	height: 180px;
	color: white;
	border-radius: 40px;
	overflow: hidden;
}

.titre {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	padding: 15px 15px 10px 15px;
	font-size: 12px;
	line-height: 15px;
}

.titre {
	font-weight: 100;
}

.power {
	display: flex;
}