.App {
	text-align: center;
	color: var(--color-red);
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: space-between;
	background-color: var(--color-darkblue);
}

.ellipse {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 50%;
	height: 100vh;
	width: 60vw;
	transform: translate(-50%);
}

.backgroundnet {
	mix-blend-mode: screen;
	position: absolute;
	width: 100vw;
	height: 60vh;
	top: 40%;
}

.colone {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.side {
	width: 27vw;
}

.mid {
	width: 40vw;
}

.left {
	align-items: flex-end;
}

.right {
	align-items: flex-start;
}
