@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

:root {
	--font-base: "Lato", normal;

	--color-darkblue: #021e40;
	--color-blue: #009de9;
	--color-green: #6ed2b1;
	--color-red: #e74a50;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
}
