.block_map {
	width: 285px;
	height: 285px;
	color: white;
	border-radius: 40px;
	overflow: hidden;
	background-image: url("../../images/backgroundimage.png");
	mix-blend-mode: screen;
	background-position: bottom;
	background-size: 576px 240px;
	background-repeat: no-repeat;
}